body {
    background-image:url(seamless-dog-pattern-with-paw-prints-bones-vector-44880422.avif);
}

/*---------------------------CPF---------------------------*/
.input-container {
    position: relative;
    margin: 50px auto;
    width: 200px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #1b1b1b98;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #1b1b1bc9;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: black;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
/*--------------------------CPF----------------------------*/
/*-------------------------Login-----------------------------*/
button {
    --color: #3f8cb9;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin-left: 41%;
    margin-bottom: 15%;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  button:hover {
    color: white;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }
  
/*-------------------------Login-----------------------------*/
#logo {
    position: relative;
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.705);
    color: black;
    margin: 10px;
}
#conteudo {
  background-image:url(gato.png);
    position: absolute;
    width: 500px;
    height: 400px;
    left: 33%;
    top: 15%;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.692) 0px 5px 15px;
}
/*-------------------Github Button------------------*/
.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: #3f8cb9;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #3f8cb9;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}
/*-------------------Github Button------------------*/